.socialLink {
  display: inline-flex;
  align-items: center;

  @include label-200;
  color: var(--primary);

  .customIcon {
    margin-right: 16px;
  }

  &_thin {
    .customIcon {
      margin-right: 8px;
    }
  }

  &_icon {
    .customIcon {
      margin-right: 0;
    }
  }

  &__text {
    @include label-200;
    color: var(--primary);
  }
}