.partners {
  padding: 96px 0;
  border-bottom: var(--borderBottom);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    flex-shrink: 0;

    @include label-200;
    color: var(--primary);
  }

  &__list {
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(4, 132px);
    gap: 25px 88px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    width: 100%;
    height: 32px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}