@import 'normalize-scss/sass/normalize/import-now';
@import 'tiny-slider/dist/tiny-slider.css';

@import './base/font';
@import './base/var';

* {
  box-sizing: border-box;
}

body {
  @include body-100;
  color: var(--primary);
  overflow-x: hidden;
}

.container {
  width: min(100%, 1220px);
  margin: 0 auto;
  padding: 0 2px;
}

hr {
  margin: 0;
  border: none;
  border-bottom: var(--borderBottom);
}

h1 {
  @include headline-100;
}

@import './components/logo';
@import './components/menu';
@import './components/btn';
@import './components/caption';
@import './components/charger';
@import './components/plugs';
@import './components/badge';
@import './components/title';
@import './components/descr';
@import './components/customIcon';

@import './sections/header';
@import './sections/promo';
@import './sections/partners';
@import './sections/solutions';
@import './sections/about';
@import './sections/statistics';
@import './sections/team';
@import './sections/cta';