@import 'normalize-scss/sass/normalize/import-now';
@import 'tiny-slider/dist/tiny-slider.css';

@import './base/font';
@import './base/var';

* {
  box-sizing: border-box;

  &::selection {
    background-color: rgba($color: #D9F99D, $alpha: .6);
    color: #1D1F1E;
  }
}

html {
  min-width: 320px;
  overflow-x: hidden;
}

body {
  @include body-100;
  color: var(--primary);
  overflow-x: hidden;
}

.container {
  width: min(100%, 1260px);
  margin: 0 auto;
  padding: 0 20px;
}

hr {
  margin: 0;
  border: none;
  border-bottom: var(--borderBottom);
}

h1 {
  @include headline-100;
}

a {
  text-decoration: none;
}

@import './components/logo';
@import './components/menu';
@import './components/btn';
@import './components/caption';
@import './components/charger';
@import './components/plugs';
@import './components/badge';
@import './components/title';
@import './components/descr';
@import './components/customIcon';
@import './components/accordion';
@import './components/information';
@import './components/review';
@import './components/navLinks';
@import './components/socialLink';
@import './components/burgerBtn';
@import './components/nav';
@import './components/form';

@import './sections/header';
@import './sections/promo';
@import './sections/partners';
@import './sections/solutions';
@import './sections/about';
@import './sections/statistics';
@import './sections/team';
@import './sections/cta';
@import './sections/blog';
@import './sections/faq';
@import './sections/reviews';
@import './sections/subscription';
@import './sections/footer';

@import './base/media';